.Slider-Container {


    width: 100%;

}

.Slider-Content{

    width: 548px;
    text-align: center;
    font-size: 15px;
    margin: auto;

}
.Slider-img {


       margin-left: 113px;
       margin-top:35px


}a{
    margin-bottom: 30px;
}

.dot-dot{

    background-color: black;
    width: 100%;
}