.imageList {
    margin: 10px;
    overflow: auto;
    height: 400px;
  }
  
  .image_with_btn,
  .cta_image {
    position: relative;
  }
  
  .image_hover_cta {
    position: absolute;
    bottom: 0;
    transform: translateX(8px);
    opacity: 70%;
    margin-bottom: 2px;
  }