.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 200px 150px;
  }
  
  .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 100px 100px;
    border-radius: 8px;
    font-size: 20px;
    border: dotted;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .upload-para{

    text-align: center;

  }